Source: reopener
Section: utils
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@envisionx.co>
Build-Depends: debhelper, golang
Standards-Version: 4.1.4
Homepage: https://github.com/EnvisionX/reopener

Package: reopener
Architecture: all
Depends: bash
Description: Pass all stdout line by line to an file, reopening it periodically
 Provides an easy way to rotate log files for applications
 which are not clever enough to reopen logfiles for themselves.
