Source: reopener
Section: utils
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@envisionx.co>
Build-Depends: debhelper (>= 8.0.0), golang
Standards-Version: 4.1.4
Homepage: https://github.com/EnvisionX/reopener
Vcs-Browser: https://github.com/EnvisionX/reopener
Vcs-Git: https://github.com/EnvisionX/reopener.git

Package: reopener
Architecture: all
Description: Pass all stdout line by line to an file, reopening it periodically
 Provides an easy way to rotate log files for applications
 which are not clever enough to reopen logfiles for themselves.
