#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_test:
	./test.sh

# Implement staged installation
DESTDIR = debian/reopener
override_dh_install:
	install -m 755 -d $(DESTDIR)/usr/bin
	install -m 755 reopener.py $(DESTDIR)/usr/bin/reopener
